@import "src/common.module.scss";

.box__container {
  position: relative;
  height: 90px;
  .text__container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
    .text1,
    .text2 {
      position: absolute;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
      user-select: none;
    }
  }
}

.project__paper {
  border-radius: 20px;
  cursor: pointer;
  .head__title {
    display: inline-block;
    position: relative;
    width: fit-content;
  }

  .head__title::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: $common-white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    .arrow__icon {
      margin-left: 10px;
    }
    .head__title::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.project__detailview {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 990px;
}
