@import "src/common.module.scss";

.section__title {
  font-size: 3em;
  font-family: $content-font;
  text-align: center;
  margin-bottom: 40px;
}
.section__splitter {
  margin: 70px 40px;
  border-color: $common-black;
}

.intro__section {
  margin: 0 auto;
  text-align: center;
  .name__text {
    width: fit-content;

    &::after {
      content: "";
      width: 25%;
      background: $primary-main;
      height: 3px;
      display: block;
      transition: 300ms;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .short__intro {
    margin-top: 120px;
    .title {
      font-weight: 400;
      font-size: 1em;
      color: $primary-300;
      margin-bottom: 10px;
    }

    .content {
      font-family: $content-font;
      font-size: 1.5em;
      display: block;
    }

    .content ~ a {
      color: $common-black;
      text-decoration: none;
      width: fit-content;
      @include underline-transition;
      &::after {
        background: $primary-main;
      }
    }

    .numbers {
      font-weight: 600;
      font-size: 3em;
    }
  }
}

.box__container {
  position: relative;
  height: 90px;
  .text__container {
    position: absolute;
    // width: fit-content;
    top: 0;
    filter: url(#threshold) blur(0.6px);
    .text1,
    .text2 {
      position: absolute;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
      user-select: none;
    }
  }
}

.skills__section {
  .swiper__container {
    width: 100%;
    height: 100%;
  }

  .swiper__slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.project__section {
  .arrow__left,
  .arrow__right {
    padding: 6px;
    user-select: none;
    display: flex;
    align-items: center;
    border: 1px solid rgba(95, 94, 94, 0.2);
    cursor: pointer;
    transition: background-color 500ms, color 500ms;

    &:hover {
      background-color: $primary-main;
      color: $common-white;
    }
  }

  .arrow__left {
    margin-right: 6px;
  }
  .arrow__right {
    margin-left: 6px;
  }

  .project__box {
    user-select: none;
    padding: 16px;
    cursor: pointer;
    border: 1px solid rgba(95, 94, 94, 0.2);
    border-radius: 12px;
    box-sizing: border-box;
    transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
    &:hover {
      .project__image {
        filter: grayscale(0);
      }
    }

    .project__image {
      transition: filter 600ms ease-in-out;
      filter: grayscale(100%);
      max-height: 300px;
      object-fit: contain;
      @include breakpoints(small-screen) {
        max-height: 220px;
        filter: grayscale(0);
      }
    }

    &:hover {
      text-decoration: none;
      // transform: scale(1.025);
      border-color: rgba(95, 94, 94, 0.1);
      box-shadow: 0 10px 20px rgba(95, 94, 94, 0.1);

      .project__title::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    .project__title {
      font-family: $content-font;
      font-size: 1.5em;
      margin: 10px 0;
      transition-duration: 1s;
      @include underline-transition;
    }

    .project__description {
      font-size: 1em;
      font-family: $paragraph-font;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.info__card {
  .resume__btn {
    color: $common-black;
    width: fit-content;
    text-transform: none;
    background-color: $common-white;
    background-image: linear-gradient(45deg, $common-black 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease, color 0.5s;
    border: 1px solid $common-black;
    padding: 6px 10px;

    &:hover {
      color: $common-white;
      background-position: left top;
    }

    .icon__container {
      padding: 2px;
      background-color: $common-black;
      border-radius: 50%;
      display: flex;
      align-items: center;

      .icon {
        color: $common-white;
      }
    }
  }

  .social__icon {
    transition: color 600ms;
    &:hover {
      color: $primary-main;
      // &::before {
      //   content: "\A";
      //   width: 10px;
      //   height: 10px;
      //   border-radius: 50%;
      //   background: #b83b3b;
      //   display: inline-block;
      // }
    }
  }
}

.contact__card {
  .submit__btn {
    color: $common-black;
    text-transform: none;
    background-color: $common-white;
    background-image: linear-gradient(45deg, $primary-300 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease, color 0.5s;
    border: 1px solid $primary-300;
    padding: 6px 10px;

    &:hover {
      color: $common-white;
      background-position: left top;
    }
  }
}

// .project__paper {
//   border-radius: 20px;
//   cursor: pointer;
//   overflow: hidden;
//   position: relative;
//   z-index: 1;
//   transition: background-image 1s;

//   .text__box {
//     height: 100%;
//     padding: 20px;
//     background-image: linear-gradient(
//       0deg,
//       rgba(0, 0, 0, 0.9),
//       rgba(0, 0, 0, 0.2)
//     );
//     transition: background-image 1s;
//     &:hover {
//       background-image: none;
//     }
//   }

//   .card__image {
//     pointer-events: none;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     object-fit: cover;
//   }
//   .head__title {
//     display: inline-block;
//     position: relative;
//     width: fit-content;
//   }

//   .head__title::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     transform: scaleX(0);
//     height: 2px;
//     bottom: 6px;
//     left: 0;
//     background-color: $common-white;
//     transform-origin: bottom right;
//     transition: transform 0.25s ease-out;
//   }

//   &:hover {
//     transition: 1s;
//     .arrow__icon {
//       margin-left: 10px;
//     }
//     .head__title::after {
//       transform: scaleX(1);
//       transform-origin: bottom left;
//     }
//   }
// }

// .project__detailview {
//   border-radius: 12px;
//   .img__title__container {
//     position: relative;
//     .bg__image {
//       object-fit: cover;
//       width: 100%;
//       height: 100%;
//     }
//     .title {
//       position: absolute;
//       top: 8px;
//       left: 16px;
//       color: $common-white;
//       font-family: "Sanchez", serif;
//       font-weight: 600;
//     }
//   }
// }
