@import "src/common.module.scss";

.appbar__navigation {
  color: $common-black;
  text-decoration: none;
  @include text-btn;
  @include underline-transition;
  &::after {
    height: 2px;
    border-radius: 1px;
    background: $primary-main;
  }
}

.social__icon {
  display: block;
  &:hover {
    color: $primary-main;
    // &::before {
    //   content: "\A";
    //   width: 10px;
    //   height: 10px;
    //   border-radius: 50%;
    //   background: #b83b3b;
    //   display: inline-block;
    // }
  }
}
