$cdn-url: "https://cdn-bucket.netlify.app/";
// $common-white: #f5f7fa;
// $primary-main: #00adb5;
// $common-white: #f5f7fa;
$primary-main: #b46e53;
$primary-100: #5e2d1f;
$primary-200: #54bab9;
$primary-300: #5f5e5e;
$primary-400: #3f3d56;
$common-white: #fafafa;
$common-black: #161515;
$background-light: #fff;

$swatch_2: #b7c6c9;
// $swatch_3: #161515;
$swatch_4: #c6b099;
$swatch_6: #b46e53;
$swatch_7: #5e2d1f;

$content-font: "Amiri";
$paragraph-font: "Roboto", sans-serif;

$x-large-screen: 1536px;
$large-screen: 1200px;
$medium-screen: 900px;
$small-screen: 600px;
$x-small-screen: 0px;

$navigations-count: 3;

@function cdnHost($name) {
  @return $cdn-url + $name;
}

@mixin breakpoints($breakpoint) {
  @if ($breakpoint == x-large-screen) {
    @media (max-width: $x-large-screen) {
      @content;
    }
  }
  @if ($breakpoint == large-screen) {
    @media (max-width: $large-screen) {
      @content;
    }
  }
  @if ($breakpoint == medium-screen) {
    @media (max-width: $medium-screen) {
      @content;
    }
  }
  @if ($breakpoint == small-screen) {
    @media (max-width: $small-screen) {
      @content;
    }
  }
  @if ($breakpoint == x-small-screen) {
    @media (max-width: $x-small-screen) {
      @content;
    }
  }
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin text-btn {
  user-select: none;
  cursor: pointer;
}

@mixin underline-text {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $common-black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

@mixin underline-transition {
  @include underline-text;

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
